/* scroll to top button */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }


.custom-height {
  height: 12rem;
}

.custom-text {
  color: #212529;
}

.custom-text:hover {
  color: #6c757d;
}

.custom-linked:hover {
  opacity: 75%;
}